### 1. Python으로 날짜형 데이터 다루기

1) `datetime` 라이브러리 import<br>
2) `datetime.date(연도, 월, 일)`; 숫자를 매개변수로 넣기, 날짜 객체로 저장<br>
3) 2번을 통해 2개 날짜 사이의 차이를 구할 수 있다.<br>

In [2]:
import datetime

date1 = datetime.date(2022, 10, 24)
date2 = datetime.date(2022, 12, 16)

In [3]:
diff = date2 - date1
diff

datetime.timedelta(days=53)

In [9]:
# 시, 분, 초 단위까지 포함된 날짜 객체를 생성하려면

day3 = datetime.datetime(2020, 12, 17, 14, 30, 10)
day3.hour

14

In [10]:
day3.second

10

In [11]:
day3.minute

30

#### combine() 함수로 datetime.date() 객체와 datetime.time  객체를 합쳐 일시 데이터를 만들 수 있음

In [12]:
day = datetime.date(2022, 11, 5)
time = datetime.time(15, 49, 51)

dt = datetime.datetime.combine(day, time)
dt

datetime.datetime(2022, 11, 5, 15, 49, 51)

#### weekday() 함수로 요일 구하기

In [13]:
dt.weekday()

5

#### datetime.datetime.today() 오늘날짜 구하기

In [14]:
today = datetime.datetime.today()
today

datetime.datetime(2022, 10, 31, 23, 24, 54, 905574)

In [15]:
today.date()

datetime.date(2022, 10, 31)

In [16]:
today.time()

datetime.time(23, 24, 54, 905574)

In [17]:
# 오늘부터 100일 뒤??
# 날짜 차이를 저장하는 "datetime.timedelta(days=100)" 이 필요

diff = datetime.timedelta(days=100)
today + diff

datetime.datetime(2023, 2, 8, 23, 24, 54, 905574)

In [18]:
# 100일 전??

today - diff

datetime.datetime(2022, 7, 23, 23, 24, 54, 905574)

### 2. NamedTuple: 인덱스와 키로 데이터 접근가능한 자료형
- tuple: 인덱스를 통해서만 접근 가능

In [19]:
data = [
    ('홍미희', 23, '01099990001'), 
    ('김철규', 31, '01099991002'), 
    ('이장구', 35, '01099994003'),
]

In [20]:
data[0]

('홍미희', 23, '01099990001')

In [21]:
data[2]

('이장구', 35, '01099994003')

In [22]:
len(data)

3

#### 각 속성별로 불러오고 싶을 때

In [28]:
from collections import namedtuple

Employee = namedtuple('Employee','Name, Age, Phone_no')
data = [Employee(emp[0], emp[1], emp[2]) for emp in data]
data

[Employee(Name='홍미희', Age=23, Phone_no='01099990001'),
 Employee(Name='김철규', Age=31, Phone_no='01099991002'),
 Employee(Name='이장구', Age=35, Phone_no='01099994003')]

In [30]:
emp = data[1]
emp.Name

'김철규'

In [31]:
emp.Age

31

In [32]:
# 딕셔너리 타입으로 변환

emp._asdict()

{'Name': '김철규', 'Age': 31, 'Phone_no': '01099991002'}

In [35]:
emp[2] # 인덱스 접근가능

'01099991002'

In [36]:
emp[0]

'김철규'

#### Namedtuple - immutable 변경할 수 없는 자료형
- `._replace`: 새로운 객체를 만들어 반환 (내용을 바꾼게 아님)

In [38]:
new_emp = emp._replace(Name="박노준")
new_emp

Employee(Name='박노준', Age=31, Phone_no='01099991002')